<div th:fragment="footer" class="container-fluid px-5 col-lg-10 col-11">
    <hr>
    <p class="d-inline mr-2 ml-2">
        <a class="text-dark text-decoration-none">
            © 2025 SeonJae Min. All rights reserved.
        </a>
    </p>
    <p class="d-inline mr-2 ml-2">
        <a class="text-dark text-decoration-none" href="/terms">
            Terms.
        </a>
    </p>
    <p class="d-inline mr-2 ml-2">
        <a class="text-dark text-decoration-none" href="/privacy">
            Privacy.
        </a>
    </p>
    <p class="d-block ml-2 mt-2 text-muted small">
        This site uses the <a href="https://bootswatch.com/sandstone/" class="text-dark text-decoration-none">Bootswatch
        Sandstone</a> theme (MIT License).
    </p>
</div>