<!doctype html>
<html lang="en">
<head th:replace="layout/head :: head">
</head>
<body>
<nav th:replace="layout/header :: header">
</nav>
<div class="container-fluid px-5 pt-3 pb-2 col-lg-10 col-11">
    <div class="card border-dark">
        <div class="card-body row">
            <div class="col-lg-7 col-12 d-lg-flex align-items-lg-center">
                <div>
                    <h4 class="card-title">서버 추가 시 주의 사항</h4>
                    <br>
                    <p class="card-text">
                        Minecraft Java Edition (PC) 서버만 추가하실 수 있습니다.
                        <br>
                        <br>
                        Java Edition 서버의 기본 포트는 <strong>25565</strong>입니다.
                        <br>
                        <br>
                        서버가 온라인(켜진 상태)일 때에만 추가가 가능합니다.
                        <br>
                        <br>
                        서버가 SRV 레코드를 사용 중에 있어도 추가하실 수 있습니다!
                        <br>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-12 mt-lg-0 mt-4">
                <form action="addserver" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="serverName" class="form-label"><strong>서버 이름</strong></label>
                        <input type="text" class="form-control" id="serverName" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="serverIp" class="form-label"><strong>서버 주소</strong></label>
                        <input type="text" class="form-control" id="serverIp" name="ip" required>
                    </div>
                    <div class="mb-3">
                        <label for="serverPort" class="form-label"><strong>서버 포트</strong></label>
                        <input type="text" class="form-control" id="serverPort" name="port" placeholder="25565">
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="agreeCheck" name="check" required>
                        <label class="form-check-label" for="agreeCheck">
                            <strong><abbr title="이용약관">이용약관</abbr></strong> 및
                            <strong><abbr title="개인정보취급방침">개인정보취급방침</abbr></strong>에 동의합니다.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-dark btn-lg w-100">추가</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout/footer :: footer">
</div>
<script>
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');

        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>
<script th:if="${message}" th:inline="javascript">
    alert([[${message}]]);
</script>
</body>
</html>