<!doctype html>
<html lang="en">
<head th:replace="layout/head :: head">
</head>
<body>
<nav th:replace="layout/header :: header"></nav>
<div class="container-fluid px-5 py-4 col-lg-10 col-11">
    <div class="offset-lg-1 col-lg-10">
        <h4 class="mb-3">동시 접속자 순위</h4>

        <div class="container mt-4">
            <div class="border rounded shadow-sm mb-3 overflow-hidden">
                <a href="#" class="row g-0 align-items-center text-black text-decoration-none">
                    <div class="col-lg-2 bg-dark text-white d-flex justify-content-center align-items-center" style="height: 80px;">
                        <span class="fs-5 fw-bold">1</span>
                    </div>
                    <div class="col-lg-4 col-12 my-lg-0 my-3 text-center m-auto fw-bold">
                        Leaf
                        <br>
                        <small>leafserver.kr</small>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Players</div>
                        <div class="fw-bold fs-5">1219</div>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Status</div>
                        <div class="text-success fw-bold fs-5">Online</div>
                    </div>

                </a>
            </div>
            <div class="border rounded shadow-sm mb-3 overflow-hidden">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-2 bg-dark text-white d-flex justify-content-center align-items-center"
                         style="height: 80px;">
                    <span class="fs-5 fw-bold">
                        2
                    </span>
                    </div>
                    <div class="col-lg-4 col-12 my-lg-0 my-3 text-center m-auto fw-bold">
                        Leaf
                        <br>
                        <small>leafserver.kr</small>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Players</div>
                        <div class="fw-bold fs-5">1219</div>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Status</div>
                        <div class="text-success fw-bold fs-5">Online</div>
                    </div>

                </div>
            </div>
            <div class="border rounded shadow-sm mb-3 overflow-hidden">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-2 bg-dark text-white d-flex justify-content-center align-items-center"
                         style="height: 80px;">
                    <span class="fs-5 fw-bold">
                        3
                    </span>
                    </div>
                    <div class="col-lg-4 col-12 my-lg-0 my-3 text-center m-auto fw-bold">
                        Leaf
                        <br>
                        <small>leafserver.kr</small>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Players</div>
                        <div class="fw-bold fs-5">1219</div>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Status</div>
                        <div class="text-success fw-bold fs-5">Online</div>
                    </div>

                </div>
            </div>
            <div class="border rounded shadow-sm mb-3 overflow-hidden">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-2 bg-dark text-white d-flex justify-content-center align-items-center"
                         style="height: 80px;">
                    <span class="fs-5 fw-bold">
                        4
                    </span>
                    </div>
                    <div class="col-lg-4 col-12 my-lg-0 my-3 text-center m-auto fw-bold">
                        Leaf
                        <br>
                        <small>leafserver.kr</small>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Players</div>
                        <div class="fw-bold fs-5">1219</div>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Status</div>
                        <div class="text-success fw-bold fs-5">Online</div>
                    </div>

                </div>
            </div>
            <div class="border rounded shadow-sm mb-3 overflow-hidden">
                <div class="row g-0 align-items-center">
                    <div class="col-lg-2 bg-dark text-white d-flex justify-content-center align-items-center"
                         style="height: 80px;">
                    <span class="fs-5 fw-bold">
                        5
                    </span>
                    </div>
                    <div class="col-lg-4 col-12 my-lg-0 my-3 text-center m-auto fw-bold">
                        Leaf
                        <br>
                        <small>leafserver.kr</small>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Players</div>
                        <div class="fw-bold fs-5">1219</div>
                    </div>
                    <div class="col-lg-3 col-6 my-lg-0 my-3 text-center m-auto">
                        <div class="text-muted small mt-2">Status</div>
                        <div class="text-success fw-bold fs-5">Online</div>
                    </div>

                </div>
            </div>
        </div>
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="?page=1">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=2">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=3">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page=2">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="layout/footer :: footer"></div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>